<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/59c37f4133.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'articles:article_index' %}">Home</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'articles:article_create' %}">New Article</a></li>
      <li><a href="{% url 'accounts:profile' request.user.username %}">{{ request.user.username }} - Profile</a></li>
      <li><a href="{% url 'accounts:logout' %}">Log-out</a></li>
      {% else %}
      <li><a href="{% url 'accounts:login' %}">Log-in</a></li>
      <li><a href="{% url 'accounts:signup' %}">Sign-up</a></li>
      {% endif %}
    </ul>
  </nav>  

  {% block content %}{% endblock content %}
</body>
</html>