<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>오늘 저녁은 {{ pick }}닭!!</p>
  <p>{{ pick }}은 {{ pick|length }}글자</p>
  <p>{{ foods|join:', ' }}</p>
  <a href="/index/">뒤로</a>

  <p>메뉴판</p>
  <ul>
    {% for food in foods %}
      <li>{{ food }}</li>
    {% endfor %}
  </ul>

  {# 이것은 한 줄 주석 #}

  {% comment %} 여러 줄 주석
  <p>1</p>
  <p>1</p>
  <p>1</p> 
  {% endcomment %}
</body>
</html>