{% extends 'base.html' %}
{% block content %} 

<h1>{{ article.title }}</h1>

{% if request.user == article.user %}
<div>
  <a href="{% url 'articles:article_update' article.pk %}"><input type="submit" value="Update"></a>
</div>
<div>
  <form action="{% url 'articles:article_delete' article.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>
</div>
{% endif %}

<h2>{{ article.user.username }}</h2>
<p>{{ article.content|linebreaksbr }}</p>
<div>
  <form action="{% url 'articles:article_like' article.pk %}" method="post">
  {% csrf_token %}
  {% if is_like %}
  <button>{{ article.like_users.count }}<i class="fa-solid fa-heart"></i></button>
  {% else %}
  <button>{{ article.like_users.count }}<i class="fa-regular fa-heart"></i></button>
  {% endif %}

</form>
</div>

<hr>


{% include 'articles/_comment.html' %}

{% endblock content %}